# 강의 자료 및 H2 데이터베이스 (강의자료는 무시)
/강의자료/
/JPA 기본편 - 강의자료/
/jpa-v20241003/
/h2/

# 처음부터 다시 만들어보는 연습용 백지 프로젝트
/study/SpringBootJPA/jpashop2/

# Maven
target/
!.mvn/wrapper/maven-wrapper.jar
!**/src/main/**/target/
!**/src/test/**/target/

# IntelliJ IDEA
.idea/
*.iml
*.iws
*.ipr
out/

# Eclipse
.classpath
.project
.settings/
bin/

# VS Code
.vscode/

# 로그 및 기타
*.log
.DS_Store
